.deleteIcon {
    font-size: 40px !important;
    color: white;
}

.deleteIcon:hover {
    color: rgba(219, 214, 214, 0.644);
}

.deleteButtons {
    width: 100%;
    background-color: #DB1866
}

.deleteButtons:hover{
    background-color: #e73b80;
}